# 登入 Line 帳號用的 email
LINE_ACCOUNT_EMAIL=''
# 登入 Line 帳號用的 password
LINE_ACCOUNT_PASSWORD=''
# 帳號的 id，可於 `https://chat.line.biz/{LINE_ACCOUNT_MID}` 取得
LINE_ACCOUNT_MID='Ue0d6270a7d8d1d0563b76f2e9f63fba0'
# Firebase URL
FIREBASE_URL='https://hiking-guard.firebaseio.com/'
# SSE 連線的持續秒數，設為 0 表示無限
SSE_SHUTDOWN_SECONDS=600